################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exam.Application.Core/obj/Debug
/Exam.Application.Core/obj/Release
/Exam.Domain.Core/obj
/Exam.Infrastructure.Core/obj/Debug
/Examinition.Utilities/obj
/Examinition.Web.Core/obj
/Examinition.Web.Core.Tests/obj
/Exam.Infrastructure.Core/obj/Release
*.com
*.class
*.dll
*.exe
*.o
*.so
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip